.profile-container{
    padding-top: 90px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),url("https://d1bvpoagx8hqbg.cloudfront.net/originals/erasmus-experience-cordoba-spain-elise-ace6369bf5161638d5396d1858744bc3.jpg");
    background-size: cover;
    min-height: 100vh;
}

.profile-title{
    color: white;
    font-size: 30px;
    text-align: center;
}
.profile-text{
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 50px 0 ;
}
.trash-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.papelera{
    width: 80px;
    cursor: pointer;
}
.accordion-accordion-flush{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    color:#9c6644da;
}

.accordion-item{
    min-width: 300px !important;
}