.home-container{
    background-image:linear-gradient(rgba(0, 0, 0, 0.60),rgba(0, 0, 0, 0.60)),url("https://www.hola.com/imagenes/viajes/20200717172215/la-mezquita-de-cordoba-mas-bella-a-la-caida-de-la-noche/0-848-73/mezquita-de-cordoba-noche-exterior-t.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.home-container_title{
    color:white;
    max-width: 60%;
    margin: 0;
    font-size: 70px;
}

.login,
.register{
    text-decoration: none;
    margin: 10px;
    border: 2px solid #fff;
    padding: 6px 20px;
    border-radius: 30px;
    letter-spacing: 1px;
    font-size: larger;
}

.login{
    background-color: white;
    color:#330d00;
    font-weight: 700;
}
.login:hover{
    background-color: transparent;
    color: white;
    border: 2px  solid white;
    transition: 0.2s ease-out;
}

.register,
.register:hover{
    color: white;
}

