.find-action-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.list-card{
    background-color: white;
}

.find-input{
    min-width:50%;
    margin-top: 50px;
}

.list-image{
    object-fit: cover;
    min-height: 350px;
    object-fit: cover;
    max-width: 100%;
    margin:0;
    border-top-left-radius:30px;
}