.find-action-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
}
.find-input{
    min-width:50%;
    margin-top: 50px;
}

.found-list-card{
    background-color: white;
    border-radius:30px;
    text-align: center;
    margin: 30px;
}

.found-list-image{
    object-fit: cover;
    max-width: 100%;
    margin:0;
    max-width:380px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px
}
