
.List-container{
padding: 90px 35px;
display: flex;
flex-direction: row;
flex-wrap: wrap ;
justify-content: space-around;
}
.list-card{
list-style-type: none;
display: flex;
flex-direction: column;
text-align: center;
justify-content: space-between;
align-items: center;
width: 380px;
max-width: 100%;
margin: 40px 20px;
box-shadow: 0 12px 24px rgba(165, 99, 69, 0.25), 0 10px 10px rgba(0,0,0,0.22);
min-height: 500px;
padding: 0;

}
.list-image{
width: 350px;
max-height: 250px;
max-width: 100%;
margin:0;
}
.list-image:hover{
filter: saturate(100%);
filter: brightness(110%);
    
}
.list-title{
    color:  #a85a2dcb;
	margin-top: 10px;
} 

.list-text{
    font-size: 18px;
    color: #794820;
}

/* .container{
    display: flex;
    flex-direction: row;
} */
.slider {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.slider__content,
.slider__content--item {
	position: relative;
}

/* .slider__content--item img,
.slider__content--item iframe{
	width: 100%;
	height: 100%;
	object-fit: cover;
} */

.carousel-next:before,
.carousel-prev:before {
width: 70px;
height: 70px;
}
