.container{
    display: flex;
    flex-direction: row;
}
.slider {
	width: 50%;
	height: 50vh;
	overflow: hidden;
	position: relative;
}

.slider__content,
.slider__content--item {
	position: relative;
}

.slider__content--item img,
.slider__content--item iframe{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

