.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    padding:50px ;
    text-decoration: none;
}
.home-link{
    color:#a85a2dcb;
    font-size: 16px;
    padding: 20px 10px;
    cursor: pointer;
    padding: 40px 10px;
    text-decoration: none;
}
.sidebar__item{
color: white;
padding: 20px 10px;
cursor: pointer;
padding: 40px 10px;
text-decoration: none;
}

.sidebar__item:hover{
    color:tomato;
}