.login-container{
    background-image:linear-gradient(rgba(0, 0, 0, 0.60),rgba(0, 0, 0, 0.60)),url("https://d1bvpoagx8hqbg.cloudfront.net/originals/erasmus-experience-cordoba-spain-elise-ace6369bf5161638d5396d1858744bc3.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.login-container_title{
    color:white;
    max-width: 60%;
    margin: 0;
    font-size: 70px;
}